body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1504px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u7085 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:874px;
}
#u7086 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:690px;
}
#u7087 {
  position:absolute;
  left:524px;
  top:245px;
  width:376px;
  height:690px;
}
#u7088 {
  position:absolute;
  left:2px;
  top:337px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7089 {
  position:absolute;
  left:525px;
  top:237px;
  width:375px;
  height:44px;
}
#u7090 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7091 {
  position:absolute;
  left:525px;
  top:233px;
  width:375px;
  height:64px;
}
#u7092 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7093 {
  position:absolute;
  left:530px;
  top:243px;
  width:360px;
  height:11px;
}
#u7094 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7095 {
  position:absolute;
  left:570px;
  top:266px;
  width:187px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7096 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u7097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7097 {
  position:absolute;
  left:546px;
  top:266px;
  width:14px;
  height:23px;
  color:#FFFFFF;
}
#u7098 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  white-space:nowrap;
}
#u7099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7099 {
  position:absolute;
  left:563px;
  top:307px;
  width:76px;
  height:76px;
  color:#FFFFFF;
}
#u7100 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  word-wrap:break-word;
}
#u7101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7101 {
  position:absolute;
  left:629px;
  top:406px;
  width:128px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7102 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u7103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7103 {
  position:absolute;
  left:656px;
  top:337px;
  width:113px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7104 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u7105 {
  position:absolute;
  left:593px;
  top:481px;
  width:200px;
  height:1px;
}
#u7106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7107 {
  position:absolute;
  left:593px;
  top:455px;
  width:99px;
  height:16px;
  color:#CCCCCC;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u7109 {
  position:absolute;
  left:593px;
  top:535px;
  width:200px;
  height:1px;
}
#u7110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7111 {
  position:absolute;
  left:593px;
  top:509px;
  width:43px;
  height:16px;
  color:#CCCCCC;
}
#u7112 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u7113 {
  position:absolute;
  left:593px;
  top:593px;
  width:200px;
  height:1px;
}
#u7114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7115 {
  position:absolute;
  left:593px;
  top:567px;
  width:71px;
  height:16px;
  color:#CCCCCC;
}
#u7116 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u7117 {
  position:absolute;
  left:593px;
  top:645px;
  width:200px;
  height:1px;
}
#u7118 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7119 {
  position:absolute;
  left:740px;
  top:619px;
  width:43px;
  height:16px;
}
#u7120 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7121 {
  position:absolute;
  left:593px;
  top:672px;
  width:200px;
  height:45px;
}
#u7122 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u7123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7123 {
  position:absolute;
  left:563px;
  top:764px;
  width:114px;
  height:16px;
}
#u7124 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u7125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7125 {
  position:absolute;
  left:563px;
  top:786px;
  width:309px;
  height:136px;
}
#u7126 {
  position:absolute;
  left:2px;
  top:60px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7127 {
  position:absolute;
  left:570px;
  top:801px;
  width:281px;
  height:70px;
}
#u7128 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u7129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u7129 {
  position:absolute;
  left:1080px;
  top:150px;
  width:424px;
  height:874px;
}
#u7130 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:690px;
}
#u7131 {
  position:absolute;
  left:1104px;
  top:245px;
  width:376px;
  height:690px;
}
#u7132 {
  position:absolute;
  left:2px;
  top:337px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7133 {
  position:absolute;
  left:1105px;
  top:237px;
  width:375px;
  height:44px;
}
#u7134 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7135 {
  position:absolute;
  left:1105px;
  top:233px;
  width:375px;
  height:64px;
}
#u7136 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7137 {
  position:absolute;
  left:1110px;
  top:243px;
  width:360px;
  height:11px;
}
#u7138 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7139 {
  position:absolute;
  left:1150px;
  top:266px;
  width:187px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7140 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u7141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7141 {
  position:absolute;
  left:1126px;
  top:266px;
  width:14px;
  height:23px;
  color:#FFFFFF;
}
#u7142 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  white-space:nowrap;
}
#u7143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7143 {
  position:absolute;
  left:1105px;
  top:297px;
  width:375px;
  height:167px;
}
#u7144 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7145 {
  position:absolute;
  left:1145px;
  top:338px;
  width:95px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7146 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u7147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u7147 {
  position:absolute;
  left:1240px;
  top:328px;
  width:105px;
  height:47px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u7148 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  white-space:nowrap;
}
#u7149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7149 {
  position:absolute;
  left:1355px;
  top:338px;
  width:43px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7150 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u7151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:59px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7151 {
  position:absolute;
  left:1126px;
  top:535px;
  width:300px;
  height:59px;
  color:#FFFFFF;
}
#u7152 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u7153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7153 {
  position:absolute;
  left:1195px;
  top:868px;
  width:71px;
  height:16px;
}
#u7154 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7155 {
  position:absolute;
  left:1309px;
  top:868px;
  width:71px;
  height:16px;
}
#u7156 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u7157 {
  position:absolute;
  left:1292px;
  top:868px;
  width:1px;
  height:16px;
}
#u7158 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u7159 {
  position:absolute;
  left:680px;
  top:727px;
  width:113px;
  height:16px;
  text-decoration:underline;
}
#u7160 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7161 {
  position:absolute;
  left:593px;
  top:619px;
  width:49px;
  height:16px;
  color:#000000;
}
#u7162 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u7163 {
  position:absolute;
  left:708px;
  top:505px;
  width:75px;
  height:25px;
}
#u7164 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7165 {
  position:absolute;
  left:1158px;
  top:417px;
  width:270px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7166 {
  position:absolute;
  left:2px;
  top:2px;
  width:266px;
  white-space:nowrap;
}
#u7167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7167 {
  position:absolute;
  left:59px;
  top:455px;
  width:416px;
  height:119px;
}
#u7168 {
  position:absolute;
  left:2px;
  top:52px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:72px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7169 {
  position:absolute;
  left:386px;
  top:486px;
  width:80px;
  height:72px;
}
#u7170 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7171 {
  position:absolute;
  left:72px;
  top:473px;
  width:59px;
  height:26px;
  font-size:18px;
}
#u7172 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u7173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7173 {
  position:absolute;
  left:72px;
  top:518px;
  width:291px;
  height:23px;
}
#u7174 {
  position:absolute;
  left:2px;
  top:2px;
  width:287px;
  white-space:nowrap;
}
