body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u3617 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:874px;
}
#u3618 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:686px;
}
#u3619 {
  position:absolute;
  left:524px;
  top:245px;
  width:376px;
  height:686px;
}
#u3620 {
  position:absolute;
  left:2px;
  top:335px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3621 {
  position:absolute;
  left:525px;
  top:233px;
  width:375px;
  height:64px;
}
#u3622 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u3623 {
  position:absolute;
  left:530px;
  top:243px;
  width:360px;
  height:11px;
}
#u3624 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3625 {
  position:absolute;
  left:654px;
  top:262px;
  width:113px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3626 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  white-space:nowrap;
}
#u3627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u3627 {
  position:absolute;
  left:536px;
  top:353px;
  width:354px;
  height:1px;
}
#u3628 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3629 {
  position:absolute;
  left:546px;
  top:264px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u3630 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u3631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3631 {
  position:absolute;
  left:531px;
  top:269px;
  width:9px;
  height:15px;
}
#u3632 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3633 {
  position:absolute;
  left:536px;
  top:374px;
  width:101px;
  height:26px;
  color:#CCCCCC;
}
#u3634 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  white-space:nowrap;
}
#u3635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u3635 {
  position:absolute;
  left:536px;
  top:410px;
  width:354px;
  height:1px;
}
#u3636 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3637 {
  position:absolute;
  left:805px;
  top:374px;
  width:85px;
  height:26px;
}
#u3638 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  white-space:nowrap;
}
#u3639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3639 {
  position:absolute;
  left:563px;
  top:447px;
  width:300px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3640 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u3641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3641 {
  position:absolute;
  left:536px;
  top:317px;
  width:149px;
  height:26px;
  color:#CCCCCC;
}
#u3642 {
  position:absolute;
  left:2px;
  top:4px;
  width:145px;
  white-space:nowrap;
}
#u3643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:1700px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3643 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3000px;
  height:1700px;
}
#u3644 {
  position:absolute;
  left:2px;
  top:842px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3645 {
  position:absolute;
  left:10px;
  top:1110px;
  width:300px;
  height:20px;
}
#u3646 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3647 {
  position:absolute;
  left:10px;
  top:1112px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3648 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3649 {
  position:absolute;
  left:10px;
  top:1140px;
  width:375px;
  height:64px;
}
#u3650 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u3651 {
  position:absolute;
  left:15px;
  top:1150px;
  width:360px;
  height:11px;
}
#u3652 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3653 {
  position:absolute;
  left:139px;
  top:1169px;
  width:113px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3654 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  white-space:nowrap;
}
#u3655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3655 {
  position:absolute;
  left:31px;
  top:1171px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u3656 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u3657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3657 {
  position:absolute;
  left:16px;
  top:1176px;
  width:9px;
  height:15px;
}
#u3658 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3659 {
  position:absolute;
  left:486px;
  top:1209px;
  width:25px;
  height:14px;
}
#u3660 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3661 {
  position:absolute;
  left:50px;
  top:1196px;
  width:0px;
  height:0px;
}
#u3661_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u3661_seg1 {
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:28px;
}
#u3661_seg2 {
  position:absolute;
  left:-2px;
  top:16px;
  width:438px;
  height:8px;
}
#u3661_seg3 {
  position:absolute;
  left:422px;
  top:10px;
  width:21px;
  height:20px;
}
#u3662 {
  position:absolute;
  left:158px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3663 {
  position:absolute;
  left:486px;
  top:1233px;
  width:37px;
  height:14px;
}
#u3664 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3665 {
  position:absolute;
  left:523px;
  top:1233px;
  width:61px;
  height:14px;
}
#u3666 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0280F1;
}
#u3667 {
  position:absolute;
  left:584px;
  top:1233px;
  width:77px;
  height:14px;
  color:#0280F1;
}
#u3668 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:686px;
}
#u3669 {
  position:absolute;
  left:10px;
  top:1284px;
  width:376px;
  height:686px;
}
#u3670 {
  position:absolute;
  left:2px;
  top:335px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u3671 {
  position:absolute;
  left:22px;
  top:1392px;
  width:354px;
  height:1px;
}
#u3672 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3673 {
  position:absolute;
  left:22px;
  top:1413px;
  width:101px;
  height:26px;
  color:#CCCCCC;
}
#u3674 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  white-space:nowrap;
}
#u3675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u3675 {
  position:absolute;
  left:22px;
  top:1449px;
  width:354px;
  height:1px;
}
#u3676 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3677 {
  position:absolute;
  left:291px;
  top:1413px;
  width:85px;
  height:26px;
}
#u3678 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  white-space:nowrap;
}
#u3679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3679 {
  position:absolute;
  left:49px;
  top:1486px;
  width:300px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3680 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u3681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3681 {
  position:absolute;
  left:22px;
  top:1356px;
  width:149px;
  height:26px;
  color:#CCCCCC;
}
#u3682 {
  position:absolute;
  left:2px;
  top:4px;
  width:145px;
  white-space:nowrap;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3683 {
  position:absolute;
  left:486px;
  top:1362px;
  width:37px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3684 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3685 {
  position:absolute;
  left:486px;
  top:1386px;
  width:37px;
  height:14px;
}
#u3686 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3687 {
  position:absolute;
  left:523px;
  top:1386px;
  width:466px;
  height:14px;
}
#u3688 {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  white-space:nowrap;
}
#u3689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3689 {
  position:absolute;
  left:523px;
  top:1410px;
  width:460px;
  height:14px;
}
#u3690 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  white-space:nowrap;
}
#u3691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3691 {
  position:absolute;
  left:486px;
  top:1434px;
  width:37px;
  height:14px;
}
#u3692 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3693 {
  position:absolute;
  left:523px;
  top:1434px;
  width:224px;
  height:14px;
}
#u3694 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u3695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3695 {
  position:absolute;
  left:486px;
  top:1487px;
  width:61px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3696 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3697 {
  position:absolute;
  left:486px;
  top:1511px;
  width:37px;
  height:14px;
}
#u3698 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3699 {
  position:absolute;
  left:523px;
  top:1511px;
  width:532px;
  height:14px;
}
#u3700 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  white-space:nowrap;
}
#u3701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3701 {
  position:absolute;
  left:486px;
  top:1535px;
  width:37px;
  height:14px;
}
#u3702 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3703 {
  position:absolute;
  left:523px;
  top:1535px;
  width:229px;
  height:14px;
}
#u3704 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u3705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3705 {
  position:absolute;
  left:543px;
  top:1549px;
  width:160px;
  height:14px;
}
#u3706 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u3707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3707 {
  position:absolute;
  left:543px;
  top:1563px;
  width:157px;
  height:14px;
}
#u3708 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3709 {
  position:absolute;
  left:563px;
  top:1577px;
  width:136px;
  height:14px;
}
#u3710 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u3711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3711 {
  position:absolute;
  left:563px;
  top:1591px;
  width:97px;
  height:14px;
}
#u3712 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3713 {
  position:absolute;
  left:290px;
  top:1369px;
  width:0px;
  height:0px;
}
#u3713_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:200px;
  height:8px;
}
#u3713_seg1 {
  position:absolute;
  left:182px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3714 {
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3715 {
  position:absolute;
  left:486px;
  top:1635px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3716 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3717 {
  position:absolute;
  left:486px;
  top:1659px;
  width:37px;
  height:14px;
}
#u3718 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3719 {
  position:absolute;
  left:523px;
  top:1659px;
  width:229px;
  height:14px;
}
#u3720 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u3721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3721 {
  position:absolute;
  left:486px;
  top:1683px;
  width:37px;
  height:14px;
}
#u3722 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3723 {
  position:absolute;
  left:523px;
  top:1683px;
  width:229px;
  height:14px;
}
#u3724 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u3725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3725 {
  position:absolute;
  left:543px;
  top:1697px;
  width:160px;
  height:14px;
}
#u3726 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u3727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3727 {
  position:absolute;
  left:563px;
  top:1725px;
  width:196px;
  height:14px;
}
#u3728 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u3729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3729 {
  position:absolute;
  left:563px;
  top:1739px;
  width:49px;
  height:14px;
}
#u3730 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3731 {
  position:absolute;
  left:543px;
  top:1711px;
  width:133px;
  height:14px;
}
#u3732 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u3733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0280F1;
}
#u3733 {
  position:absolute;
  left:612px;
  top:1739px;
  width:65px;
  height:14px;
  color:#0280F1;
}
#u3734 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3735 {
  position:absolute;
  left:677px;
  top:1739px;
  width:148px;
  height:14px;
}
#u3736 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
