body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u3521 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:874px;
}
#u3522 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:686px;
}
#u3523 {
  position:absolute;
  left:524px;
  top:245px;
  width:376px;
  height:686px;
}
#u3524 {
  position:absolute;
  left:2px;
  top:335px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3525 {
  position:absolute;
  left:525px;
  top:233px;
  width:375px;
  height:64px;
}
#u3526 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u3527 {
  position:absolute;
  left:530px;
  top:243px;
  width:360px;
  height:11px;
}
#u3528 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3529 {
  position:absolute;
  left:677px;
  top:262px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3530 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  white-space:nowrap;
}
#u3531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u3531 {
  position:absolute;
  left:536px;
  top:353px;
  width:354px;
  height:1px;
}
#u3532 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3533 {
  position:absolute;
  left:546px;
  top:264px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u3534 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u3535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3535 {
  position:absolute;
  left:531px;
  top:269px;
  width:9px;
  height:15px;
}
#u3536 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3537 {
  position:absolute;
  left:536px;
  top:317px;
  width:97px;
  height:26px;
}
#u3538 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  white-space:nowrap;
}
#u3539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3539 {
  position:absolute;
  left:536px;
  top:374px;
  width:101px;
  height:26px;
  color:#CCCCCC;
}
#u3540 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  white-space:nowrap;
}
#u3541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u3541 {
  position:absolute;
  left:536px;
  top:410px;
  width:354px;
  height:1px;
}
#u3542 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3543 {
  position:absolute;
  left:805px;
  top:374px;
  width:85px;
  height:26px;
}
#u3544 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  white-space:nowrap;
}
#u3545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3545 {
  position:absolute;
  left:563px;
  top:447px;
  width:300px;
  height:50px;
  color:#FFFFFF;
}
#u3546 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u3547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:1700px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3547 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3000px;
  height:1700px;
}
#u3548 {
  position:absolute;
  left:2px;
  top:842px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3549 {
  position:absolute;
  left:10px;
  top:1110px;
  width:300px;
  height:20px;
}
#u3550 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3551 {
  position:absolute;
  left:10px;
  top:1112px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3552 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3553 {
  position:absolute;
  left:10px;
  top:1140px;
  width:375px;
  height:64px;
}
#u3554 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u3555 {
  position:absolute;
  left:15px;
  top:1150px;
  width:360px;
  height:11px;
}
#u3556 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3557 {
  position:absolute;
  left:150px;
  top:1174px;
  width:95px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3558 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u3559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3559 {
  position:absolute;
  left:31px;
  top:1171px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u3560 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u3561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3561 {
  position:absolute;
  left:16px;
  top:1176px;
  width:9px;
  height:15px;
}
#u3562 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3563 {
  position:absolute;
  left:486px;
  top:1209px;
  width:25px;
  height:14px;
}
#u3564 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3565 {
  position:absolute;
  left:50px;
  top:1196px;
  width:0px;
  height:0px;
}
#u3565_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u3565_seg1 {
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:28px;
}
#u3565_seg2 {
  position:absolute;
  left:-2px;
  top:16px;
  width:438px;
  height:8px;
}
#u3565_seg3 {
  position:absolute;
  left:422px;
  top:10px;
  width:21px;
  height:20px;
}
#u3566 {
  position:absolute;
  left:158px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3567 {
  position:absolute;
  left:486px;
  top:1233px;
  width:37px;
  height:14px;
}
#u3568 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3569 {
  position:absolute;
  left:523px;
  top:1233px;
  width:61px;
  height:14px;
}
#u3570 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0280F1;
}
#u3571 {
  position:absolute;
  left:584px;
  top:1233px;
  width:65px;
  height:14px;
  color:#0280F1;
}
#u3572 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:686px;
}
#u3573 {
  position:absolute;
  left:10px;
  top:1284px;
  width:376px;
  height:686px;
}
#u3574 {
  position:absolute;
  left:2px;
  top:335px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u3575 {
  position:absolute;
  left:22px;
  top:1392px;
  width:354px;
  height:1px;
}
#u3576 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3577 {
  position:absolute;
  left:22px;
  top:1356px;
  width:97px;
  height:26px;
}
#u3578 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  white-space:nowrap;
}
#u3579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3579 {
  position:absolute;
  left:22px;
  top:1413px;
  width:101px;
  height:26px;
  color:#CCCCCC;
}
#u3580 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  white-space:nowrap;
}
#u3581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u3581 {
  position:absolute;
  left:22px;
  top:1449px;
  width:354px;
  height:1px;
}
#u3582 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3583 {
  position:absolute;
  left:291px;
  top:1413px;
  width:85px;
  height:26px;
}
#u3584 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  white-space:nowrap;
}
#u3585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3585 {
  position:absolute;
  left:49px;
  top:1486px;
  width:300px;
  height:50px;
  color:#FFFFFF;
}
#u3586 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u3587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3587 {
  position:absolute;
  left:486px;
  top:1419px;
  width:61px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3588 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3589 {
  position:absolute;
  left:523px;
  top:1443px;
  width:532px;
  height:14px;
}
#u3590 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  white-space:nowrap;
}
#u3591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3591 {
  position:absolute;
  left:486px;
  top:1467px;
  width:37px;
  height:14px;
}
#u3592 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3593 {
  position:absolute;
  left:376px;
  top:1426px;
  width:0px;
  height:0px;
}
#u3593_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u3593_seg1 {
  position:absolute;
  left:96px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3594 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3595 {
  position:absolute;
  left:486px;
  top:1443px;
  width:37px;
  height:14px;
}
#u3596 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3597 {
  position:absolute;
  left:523px;
  top:1467px;
  width:205px;
  height:14px;
}
#u3598 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u3599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3599 {
  position:absolute;
  left:486px;
  top:1542px;
  width:37px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3600 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3601 {
  position:absolute;
  left:199px;
  top:1536px;
  width:0px;
  height:0px;
}
#u3601_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u3601_seg1 {
  position:absolute;
  left:-4px;
  top:9px;
  width:291px;
  height:8px;
}
#u3601_seg2 {
  position:absolute;
  left:273px;
  top:3px;
  width:21px;
  height:20px;
}
#u3602 {
  position:absolute;
  left:87px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3603 {
  position:absolute;
  left:486px;
  top:1590px;
  width:37px;
  height:14px;
}
#u3604 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3605 {
  position:absolute;
  left:523px;
  top:1590px;
  width:157px;
  height:14px;
}
#u3606 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3607 {
  position:absolute;
  left:543px;
  top:1604px;
  width:196px;
  height:14px;
}
#u3608 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u3609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3609 {
  position:absolute;
  left:543px;
  top:1618px;
  width:49px;
  height:14px;
}
#u3610 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0280F1;
}
#u3611 {
  position:absolute;
  left:592px;
  top:1618px;
  width:113px;
  height:14px;
  color:#0280F1;
}
#u3612 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3613 {
  position:absolute;
  left:523px;
  top:1566px;
  width:157px;
  height:14px;
}
#u3614 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3615 {
  position:absolute;
  left:486px;
  top:1566px;
  width:37px;
  height:14px;
}
#u3616 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
